.testing-features-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.testing-features-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
