.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #ff6600;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: #ff6600;
}
.navigation-links-navlink2 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: #ff6600;
}
.navigation-links-navlink3 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: #ff6600;
}
.navigation-links-navlink4 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4:hover {
  color: #ff6600;
}













@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.usloviq-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}
.usloviq-header {
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  margin-left: 0%;
  padding-top: 15px;
  margin-right: 0%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 15px;
  justify-content: space-between;
  background-color: #ffffff;
}
.usloviq-image {
  width: 183px;
  height: 46px;
}
.usloviq-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.usloviq-burger-menu {
  display: none;
}
.usloviq-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.usloviq-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.usloviq-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.usloviq-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.usloviq-image1 {
  height: 2rem;
}
.usloviq-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.usloviq-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.usloviq-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.usloviq-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.usloviq-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.usloviq-container2 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.usloviq-text {
  height: 100%;
  padding: 25px;
  font-size: 16px;
  margin-top: 40px;
  text-align: justify;
  background-color: #ffffff;
}
.usloviq-text01 {
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.usloviq-text02 {
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.usloviq-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  margin-top: 50px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #ff6600;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
  border-top-width: 3px;
}
.usloviq-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.usloviq-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.usloviq-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.usloviq-navlink {
  margin-left: 0px;
  text-decoration: none;
}
.usloviq-navlink1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.usloviq-navlink2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.usloviq-navlink3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.usloviq-navlink4 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.usloviq-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.usloviq-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.usloviq-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.usloviq-icon10 {
  fill: #ff6600;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
@media(max-width: 767px) {
  .usloviq-container2 {
    flex: 0 0 auto;
    width: 80%;
  }
  .usloviq-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .usloviq-nav {
    display: none;
  }
  .usloviq-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .usloviq-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .usloviq-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .usloviq-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .usloviq-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .usloviq-text69 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .usloviq-header {
    padding: var(--dl-space-space-unit);
  }
  .usloviq-mobile-menu {
    padding: 16px;
  }
  .usloviq-footer {
    padding: var(--dl-space-space-unit);
  }
  .usloviq-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .usloviq-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .usloviq-text69 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
