<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink">
      <span>НАЧАЛО</span>
    </a>
    <a href="trips.html" class="navigation-links-navlink1">
      <span>ЕКСКУРЗИИ</span>
    </a>
    <a href="about.html" class="navigation-links-navlink2">
      <span>ЗА НАС</span>
    </a>
    <a href="contact.html" class="navigation-links-navlink3">
      <span>КОНТАТКИ</span>
    </a>
    <a href="usloviq.html" class="navigation-links-navlink4">
      <span>УСЛОВИЯ</span>
    </a>
  </nav>
</div>
