.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #ff6600;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: #ff6600;
}
.navigation-links-navlink2 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: #ff6600;
}
.navigation-links-navlink3 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: #ff6600;
}
.navigation-links-navlink4 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4:hover {
  color: #ff6600;
}













@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
